<link rel="stylesheet" href="/static/bootstrap/docs/assets/css/bootstrap.css">
<link href="/static/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<CENTER>
  <h1>{{ person.name }}</h1>
</CENTER>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Name</th>
	<th>Brewery</th>
	<th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% if beers %}
      {% for b in beers %}
      <tr>
	<td><a href="/beers/{{ b.id }}/">{{ b.name }}</a></td>
	<td>{{ b.brewery }}</td>
	<td>{{ b.rating  }}%</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
	<td></td>
	<td></td>
	<td></td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <div class="row-fluid show-grid">
    <div class="span4"><a href="/people/">The People</a></div>
    <div class="span4"><a href="/beers/">The Beers</a></div>
    <div class="span4"><a href="/admin/">You're an admin?</a></div>
  </div>
</div>
